html,
body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

#container {
	min-height: 100%;
	position: relative;
	background-color: #fffee3;
}

/* Header and top nav styling */

.topnav {
	z-index: 9000;
	background-color: #bfbfb0;
	height: 45px;
	width: 100%;
	position: fixed;
}

.topnav ul {
	margin-top: 0px;
	z-index: 9999;
	margin-left: 50%;
	height: 0px;
	width: 50%;
	transform: translateX(-50%);
}

.topnav li {
	list-style-type: none;
	float: left;
}

.topnav a {
	display: block;
	color: #303030;
	text-align: center;
  	text-decoration: none;
	font-size: 18px;
	padding: 8px 16px;
	margin-top: 1px;	

}

#current {
	color: #303030;
	border-bottom: 0.25rem solid #303030;
	padding: 8px 16px;
}
.topnav a:hover {
	background-color: #dedede;
	color: black;
  	border: 0px;
  	padding: 8px 16px 12px 16px; /* makes sure the hover box includes the height of the border of the active item */	
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

input[type=text] {
  width: 60px;
  padding: 6px 60px 6px 6px;
  margin: 7px 16px;
  border-style: solid 1px grey;
  border-radius: 5px;
  
}

/* Website content styling */

#content {
	padding:10px;
	padding-bottom:60px;	
	position: relative;
	padding-top: 2em;
	margin-left: 20%;
	width: 60%;
	height: 100%;
}

#row1 ul{
	margin-top: 2rem;
	list-style: none;
	padding-bottom: 3rem;
}

#row1 li{
	list-style: none;
}

#row2 ul{
	margin-top: 2rem;
	list-style: none;
	padding-bottom: 3rem;
}

#row2 li{
	list-style: none;
}

.first-story {
	border: solid 1px #bfbfb0;
	padding: 1rem;
	width: 50%;
	float: left;
	background-color: white;
	margin-bottom: 16px;
	max-width: 50%;
}

.second-story {
	border: solid 1px #bfbfb0;
	padding: 1rem;
	margin-left: 1rem;
	width: 30%;
	display: inline-block;
	background-color: white;
}

img {
  display: inline-block;
  padding: 0.5rem 0rem 0rem 0rem;
  max-width: 100%;
}

/* Bottom navigation styling */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;			
	border-top: solid 1px #bfbfb0;
	border-bottom: solid 1px #bfbfb0;
	background-color: #f5f5f5;
}

.bottomnav {
	margin-left: 50%;
}

.bottomnav a {
	overflow: visible;
	height: 2rem;
	transform: translateX(-50%);
	padding-top: 1rem;
	padding-bottom: 2px;
	color: #303030;
  	text-decoration: none;
	font-size: 12px;
	display: inline-block;
}

.bottomnav a:hover {
	background-color: #bfbfb0;
	color: black;
}

.bottomnav a.active {
  background-color: #4CAF50;
  color: white;
}


/* #story and #tweet are specific to individual news stories */
#story {
	margin: 2rem;
	margin-bottom: 1rem;
	padding: 0rem 1rem;
	border: solid 1px #bfbfb0;
	width: 100%;
	background-color: white;
}

#tweet {
	height: 173px;
}

