/* css that applies to both desktop and mobile */
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#container {
	background-color: transparent;
}

body {
	min-height: 100%;
}

#content{
	background-color: azure;
}

#displaytable {
	display: table;
}

#topnav ul {
	background-color: #ddd;
}

#topnav {
	align-self: center;
	border-bottom: 1px solid gray;
}

#topnav a {  
	color: #333;
}

#topnav lia:hover {
	color: grey;
}

#topnav li:hover a {
	text-decoration: underline;
	background-color: #F0EAD6;
}

#navlogo:hover {
	background-color: #F0EAD6;
}

#topnav li:hover img {
	filter:brightness(6000%);
}

.nav_a {
	display: block;
}

#topnav img {
	background-color: transparent;
}


.nav_button {
	background-color: #333;
	color: white;
}

#nav_uname {
	color: #111;
}

input {
 	background-color: #f5f5dc;	
 	color: black;

}

.login {
	list-style-type: none;
}


button {
	color: white;
	background-color: #333;
}


.flex_box > div {
	background-color: #f5f5e9;
	border: 1px solid gray;
}

.dark .flex_box > div {
	background-color: #282828;
	border: 1px solid gray;
}

.act_table th {
  	background-color: #634caf	;
  	color: white;
}

.act_table td, .act_table th {
  	border: 1px solid #ddd;
}

.act_table tr:nth-child(even) {
	background-color: #efefef;
}

.act_table tr:nth-child(odd) {
	background-color: #dadada;
}

.act_table tr:hover {
	background-color: ;
}

.dark #topnav ul {
	background-color: #222;
}


.dark {
	color: #b6b6b6;
	background-color: #0f0f0f;
}

.dark #content{
	background-color: #1c1c1c;
}

.dark a, .dark input, .dark label, .dark button {
	color: #ddd;
}

.dark input, .dark button {
	background-color: #111;
}

.dark #topnav {
	background-color: #333;
}

.dark #topnav a {
	color: #c8c8c8;
}

.dark #topnav a:hover p {
	color: white;
}

.dark #topnav li:hover a {
	background-color: #111;
	text-decoration: underline;

}

.dark #topnav li:hover img {
	filter:brightness(160%);
}



.dark #nav_uname {
	color: #c8c8c8;
}

.dark #navlogo:hover > img {
	filter: invert(1);
}

.dark #navlogo:hover {
	background-color: black;
}

.dark .nav_button {
	background-color: #333;
	color: #fff;
}

.dark .nav_link {
	background-color: transparent;
}

.dark p {
	color: lightgray;
}

.dark .act_table td, .dark .act_table th {
  	border: 1px solid #ddd;
  	color:#eee;
}

.dark .act_table tr:hover {
	background-color: red;
}

.dark .act_table tr:nth-child(even) {
	background-color: #333;
}

.dark .act_table tr:nth-child(odd) {
	background-color: #444;
}

.p_ita {
	font-style: italic;
}


/*------------------------------------------------------*/
/*---------------------small screen---------------------*/
/*------------------------------------------------------*/

@media only screen and (max-width: 699px) {

:root {
  --top-bar-height: 14rem;
  --top-bar-padding: 4px 8px 8px 4px;
}

#topnav {
	display: flex;
  	flex-direction: column;
	z-index: 9000;
	height: var(--top-bar-height);
	width: 100%;
	position: relative;
}

#content {
	margin-top: 115px;
}


#topnav ul {
	margin: 0;
	display: block;
	float: none;
	width: 100%;
	padding: 0em;	
	}

#topnav li { 
	width: 100%;
	list-style-type: none;
	}

#topnav a {
	
	display: block;
	text-align: center;
  	text-decoration: none;
	font-size: 18px;
	padding: 8px 16px 8px;
	margin-top: 1px;	

}


.flex_box {
	width: 100%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.flex_box > div {
	width: 90%;
	margin-bottom: 5%; 
}

#theme_form, .nav_button {
	align-content: center;
}

img.card_img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}

.copy {
	height: 100%;
	padding: 5%;
}

} /*end of media*/

/*------------------------------------------------------*/
/*---------------------large screen---------------------*/
/*------------------------------------------------------*/
@media only screen and (min-width: 700px) {

:root {
  --top-bar-height: 3.8em;
  --top-bar-padding: 4px 8px 8px 4px;
}


#content {
	padding: 1rem 2em;
	margin-top: 0;
}


#footer {
	bottom: 0;
	padding: 0.5rem 2rem;
}

#container {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	margin-bottom: -50px;
	position: relative;
}

aside {
	width: 40%;
	float: right;
	padding: 10px;
}
#topnav {
	margin: 0;
	padding: 0;
	z-index: 9000;
	height: var(--top-bar-height);
	width: 100%;
	position: relative;
}


#topnav ul {
	list-style-type: none;
	margin: 0;
	width: 100%;
}

#topnav li {
	float: left;
	margin-right: 1em;
	text-align: middle;
}

#li_theme_form {
	padding-top: 1.1rem;
}

#navlogo {
	padding: 0.8em 0.5em 0.8em;
}	


.nav_a {
	display: block;
	padding: 1em 0.5em 1.2em;
}



#nav_login {
	padding-top: 0.5em;
}

#nav_sub, #nav_logout, #li_nav_theme {
	padding-top: 1.2em;
}

#nav_uname {
	padding-top: 1.25em;
}

.nav_button {
	align-self: center;
}


#topnav a {  
	display: block;
	text-align: center;
  	text-decoration: none;
	font-size: 18px;
}


.card {
	overflow: hidden;	
}


img.card_img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}

.copy {
	padding: 5%;
}

/* act_table table spacing */

.act_table {
  	width: 80%;
  	border-collapse: collapse;
}

.act_table th {
 	padding-top: ;
  	padding-bottom: ;
}

.act_table td, .act_table th {
  	padding: 0.5rem;
}

/* act_table table light mode colour */

.flex_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.flex_box > div {
	max-width: 512px;
	width: 40%;
	margin: 1rem; 
}

} /* <-- end of media*/




