:root {
  --top-bar-height: 4em;
}



#container {
	min-height: 100%;
	position: relative;
	background-color: transparent;
}

.topnav {
	z-index: 9000;
	background-color: black;
	height: 4em;
	width: 100%;
	position: fixed;
}



#topnav ul {
	list-style-type: none;
	margin: 0;
	width: 100%;

}

#topnav li {
	float: left;
	border: #FFFFBF solid 1px;
	border-radius: 5px;
	margin-right: 1em;
}

 
#topnav a {  
	display: block;
	color: gray;
	text-align: center;
  	text-decoration: none;
	font-size: 18px;
	padding: 4px 8px 8px 4px;

}

#topnav a:hover {
	background-color: #dedede;
	color: black;
  	border: 0px;
  	border-radius: 5px;
	padding: 4px 8px 8px 4px;
}


#topnav img {
	background-color: transparent;


}

main {
	margin-top: var(--top-bar-height);
	width: 90%;
	position: fixed;
	background-color: lightgray;
}

.dark {
	background-color: #0f0f0f
}

.topnav li {
	background-color: gold;
	border: lightgray solid 1px;
	padding: 4px 8px 8px 4px;


}

.dark a {
	color: white;
	padding: 4px 8px 8px 4px;

}

.dark #topnav a:hover {
	background-color: #dedede;
	color: black;
  	border: 0px;
  	border-radius: 5px;
	padding: 4px 8px 8px 4px;
}

.dark main{
	background-color: #212121;
}

.dark p {
	color: lightgray;
}
